         /* Font chữ toàn cục */
    body {
        font-family: 'Poppins', sans-serif;
    }

    /* Màu nền xanh nhạt background tổng */
    .bg-light-blue {
        background-color: #DDECF9;
    }

    /* Màu cam chủ đạo (Button Login, Link) */
    .text-orange {
        color: #FF6B4A !important;
    }

    .btn-orange {
        background-color: #FF6B4A;
        color: white;
        border: none;
        transition: 0.3s;
    }

    .btn-orange:hover {
        background-color: #e55a3b;
        color: white;
    }

    /* Tinh chỉnh Input: Xóa viền nặng nề của Bootstrap, thêm bo tròn */
    .form-control {
        border: 1px solid #eee;
        padding: 12px 15px;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #FF6B4A; /* Highlight màu cam khi nhập */
        background-color: #fff !important;
    }
