{% extends 'admin/master.html' %}

{% block body %}

{% if current_user.authenticated %}
<h2>Welcome to Administration</h2>

{% else %}
<h2 class="text-center mb-4 fw-bold">Đăng nhập</h2>
<form>
    <div class="mb-3">
        <label for="email" class="form-label fw-medium">Email</label>
        <input type="email" class="form-control form-control-lg" id="email"
               placeholder="Nhập email của bạn">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label fw-medium">Mật khẩu</label>
        <input type="password" class="form-control form-control-lg" id="password"
               placeholder="Nhập mật khẩu">
    </div>
</form>
{% endif %}
{% endblock %}
