{%extends 'layout/base.html'%}

{%block tittle%} Lấy lại mật khẩu {%endblock%}

{%block header%}{%endblock%}

{%block content%}
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light-blue">

    <div class="card border-0 shadow-lg rounded-4 overflow-hidden" style="max-width: 80%; width: 100%;">

        <div class="row g-0">
            <div class="col-md-6 d-none d-md-flex flex-column align-items-center justify-content-center bg-white p-5 position-relative">
                <div class="position-absolute top-0 start-0 m-4 fw-bold fs-4 text-dark-green">
                    <img src="https://res.cloudinary.com/desvczltb/image/upload/v1763549688/logo_Anqinko_ostpx4.png"
                         alt="ANQUINKO" style="width: 100px">
                </div>
                <img src="https://res.cloudinary.com/desvczltb/image/upload/v1764775625/Hello-rafiki_u33kor.svg"
                     alt="Login Illustration"
                     class="img-fluid" style="max-height: 300px;"></div>
            <div class="col-md-6 bg-white p-5">
                <div class="mb-4">
                    <h2 class="fw-bold text-dark-green">Lấy lại mật khẩu</h2>
                    <p class="text-muted small">Vui lòng nhập địa chỉ email của bạn để lấy lại mật khẩu</p>
                </div>

                {% if err_msg%}
                <div class="alert alert-danger">{{err_msg}}</div>
                {% endif %}

                <form method="post" action="/forgot-pass">
                    {% if step == 1 %}
                    <div class="row 3 mb-3">
                        <div class="col-9">
                            <input type="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                               class="form-control form-control-lg bg-light fs-6 col-9" placeholder="Email" required
                               name="email" title="Vui lòng nhập đúng địa chỉ email (VD: user@example.com)">
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-orange w-100 py-2 fs-6 fw-bold rounded-3">Gửi mã</button>
                        </div>
                    </div>
                    {% elif step == 2 %}
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Nhập mã xác thực"
                                   required name="otp">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-orange w-100 py-2 fs-6 fw-bold rounded-3">Lấy lại mật khẩu</button>
                    </div>
                    {% elif step == 3 %}
                    <div class="mb-3 position-relative">
                            <input type="password" class="form-control bg-light pe-5" placeholder="Mật khẩu" required
                                   name="password" id="pass1"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}"
                                   title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt.">
                            <!--   tim hieu them ve bieu thuc chinh quy cho nay -->
                            <i class="fa-regular fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-4 text-secondary small"
                               style="cursor: pointer;" onclick="togglePass('pass1', this)"></i>
                    </div>
                    <div class="mb-3 position-relative">
                            <input type="password" class="form-control bg-light pe-5" placeholder="Xác nhận mật khẩu"
                                   required name="confirm_pass" id="pass2">
                            <i class="fa-regular fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-4 text-secondary small"
                               style="cursor: pointer;" onclick="togglePass('pass2', this)"></i>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-orange w-100 py-2 fs-6 fw-bold rounded-3">Đổi mật khẩu</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block footer%}{%endblock%}