{%extends 'layout/base.html'%}

{%block title%} Đăng ký{%endblock%}

{%block header%}{%endblock%}

{%block content%}
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light-blue">

    <div class="card border-0 shadow-lg rounded-4 overflow-hidden" style="max-width: 85%; width: 100%;">

        <div class="row g-0">
            <div class="col-md-6 d-none d-md-flex flex-column align-items-center justify-content-center bg-white p-5 position-relative">
                <div class="position-absolute top-0 start-0 m-4 fw-bold fs-4 text-dark-green">
                    <img src="https://res.cloudinary.com/desvczltb/image/upload/v1763549688/logo_Anqinko_ostpx4.png"
                         alt="ANQUINKO" style="width: 100px">
                </div>
                <img src="https://res.cloudinary.com/desvczltb/image/upload/v1764814990/Live_collaboration-cuate_pptsvl.svg"
                     alt="Login Illustration"
                     class="img-fluid" style="max-height: 300px;">
            </div>
            <div class="col-md-6 bg-white p-5">
                <div class="mb-4">
                    <h2 class="fw-bold text-dark-green">Bắt đầu hành trình của bạn!</h2>
                    <p class="text-muted small">Học tiếng Anh, nuôi dưỡng tự tin và mở cánh cửa ra thế giới.</p>
                </div>
                {% if err_msg%}
                <div class="alert alert-danger">{{err_msg}}</div>
                {% endif %}
                <form method="post" action="/signup">
                    <div class="mb-3">
                        <input type="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                               class="form-control form-control-lg bg-light fs-6" placeholder="Email" required
                               name="email"
                               title="Vui lòng nhập đúng địa chỉ email (VD: user@example.com)">
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Username"
                               required name="username"
                               pattern="{3,20}"
                               title="Username chỉ được dài từ 3-30 ký tự.">
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6 mb-2 mb-md-0 position-relative">
                            <input type="password" class="form-control bg-light pe-5" placeholder="Mật khẩu" required
                                   name="password" id="pass1"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}"
                                   title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt.">
                            <!--   tim hieu them ve bieu thuc chinh quy cho nay -->
                            <i class="fa-regular fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-4 text-secondary small"
                               style="cursor: pointer;" onclick="togglePass('pass1', this)"></i>
                        </div>
                        <div class="col-md-6 position-relative">
                            <input type="password" class="form-control bg-light pe-5" placeholder="Xác nhận mật khẩu"
                                   required name="confirm_pass" id="pass2">
                            <i class="fa-regular fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-4 text-secondary small"
                               style="cursor: pointer;" onclick="togglePass('pass2', this)"></i>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Địa chỉ"
                               name="address">
                    </div>



                    <button type="submit" class="btn btn-orange w-100 py-2 fs-6 fw-bold rounded-3">Đăng ký</button>
                    <div class="text-center mt-4 small"> Bạn đã có tài khoản?
                        <a href="/signin" class="text-orange text-decoration-none fw-bold">Đăng nhập tại đây.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block footer%}{%endblock%}